body {
  font-family: Arial;
  text-align: center;
  background-color: #f4f4f4;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 180px);
  gap: 15px;
  justify-content: center;
}

.image-container img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid transparent;
}

.image-container img:hover {
  border: 3px solid #333;
}
